@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.searchMatched{
    color: rgb(196, 130, 130);
    background-color: rgb(100, 53, 0);
}
body{
    min-height: 100vh;
    background-color: #f5f5f5;
}

main{
    width: 1100px;
    margin: auto;
}
main h1{
    text-align: center;
    margin: 20px 0;
}
main .search-area input{
    padding: 5px 10px;
    border: 1px solid rgb(57, 27, 27);
    background-color: rgb(169, 125, 125);
}
main table{
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}
main table tr:hover{
    background-color: White;
}
main table tr.searchMatched:hover{
    background-color: rgb(17, 29, 138);
}
main table th{
    padding: 15px 0;
}
main table td{
    padding: 5px 10px;
}
.buttons .btn{
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid black;
}


@media screen and (max-width: 1150px){
    main{
        width: 700px;
    }
}
@media screen and (max-width: 750px){
    main{
        width: 450px;
    }
}